.main-container {
  text-align: center;
  height: 100vh;
}

.header,
.bookmarks-card {
  background-color: #203153 !important;
  width: 100vw;
}

.bookmark-button {
  margin: 0 10px;
}

.bookmark-button>* {
  color: white;
}

.header>.brand {
  padding: 0 10px;
  color: white !important;
}

.nav-link {
  color: white !important;
}

.search-bar {
  justify-content: flex-end;
}

.search-now {
  margin-top: 30vh;
}

.bookmarks-accordion {
  width: 100vw;
}

.card-header>button {
  color: white !important;
}

.collapse.show {
  width: 400px !important;
  margin: auto;
}

.repo-card,
.bookmark-body {
  margin: 10px auto !important;
  max-width: 400px !important;
  box-shadow: 3px 3px 3px 3px #20315354;
  background-color: white !important;
}

.repositories-container {
  justify-content: center;
}

.repo-metadata {
  justify-content: center;
  margin-top: 5px;
}